Question 1:

In [121]:
a = 0

def b():
    global a
    a = c(a)
    
def c(a):
    return a+2
    
b() 
b()
b()
a

6

>>>b() = The value of a = 0 and a is set as global variable it means its accissible in the entire class therefore, when we call the first function b() the value is updated to 2
>>>b() = 2 +2 = 4
>>>B() = 4+2 =6
therefore Value of a when executed it is updated to 6

Question 2:

In [122]:
def file_length(file_name):
    try:
        file = open(file_name)
        contents = file.readLines()
        file.close()
        print("The total number of lines in file {} is {}".format(file_name,len(contents)))
    except:
        print("File {} not found".format(file_name))

In [123]:
file_length('FileLength.txt')
file_length('idterm.py')

File FileLength.txt not found
File idterm.py not found

Question 3:

In [124]:
class Marsupial:
    def __init__(self):
        self.one = []
    def put_in_pouch(self, input):
        self.one.append(input)
    def pouch_contents(self):
        print(self.one)

In [125]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [126]:
class Kangaroo(Marsupial):
    def __init__(self, xaxis,yaxis):
            self.x = xaxis
            self.y = yaxis
            self.one = []
    def print(self):
        print("I am a Kangaroo located at coordinates:", "(",self.x,",",self.y,")")
        
    def jump(self, xCord, yCord):
        self.x += xCord
        self.y += yCord
        return (self.x, self.y)

In [127]:
k = Kangaroo(0,0)
k.print()
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

I am a Kangaroo located at coordinates: ( 0 , 0 )
['doll', 'firetruck', 'kitten']

In [128]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
k.print()

I am a Kangaroo located at coordinates: ( 3 , 0 )

Question 4:

In [129]:
def collatz(number):
    print(number)
    if number==1:
        pass
    else:
        if number%2 == 0: 
            number = int(number/2)
            collatz(number)
        else: 
            number = int(3*number + 1)
            collatz(number)

In [130]:
collatz(1)

1

In [131]:
collatz(10)

10
5
16
8
4
2
1

Question 5:

In [132]:
def binary(number):
    print(number%2,end = '')
    
    if number == 1 or number==0:
        pass
    else:
        num = int(number / 2)
        binary(num)

In [133]:
binary(0)

0

In [134]:
binary(1)

1

In [135]:
binary(3)

11

In [136]:
binary(9)

1001

Question 6:

In [141]:
from html.parser import HTMLParser
class HeadingParser(HTMLParser): 
    
    def __init__(self):
        HTMLParser.__init__(self)
        self.header = ''
    
    def handle_starttag(self, tag, attrs):
        if tag in ['h1','h2','h3','h4','h5']:
            self.header = tag
            #print(self.headerTag) 
    
    def handle_data(self, attrs):
        if self.header in ['h1','h2','h3','h4','h5']:
            self.header = list(self.header)
            indent = (int(self.header[1])-1) * ' ' 
            print(indent + attrs)

In [142]:
infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
 Principles

Question 7:

In [145]:
from html.parser import HTMLParser
import requests

class UrlParser(HTMLParser):               
 
    def __init__(self):
        self.urls = []                     
        HTMLParser.__init__(self)

    def handle_starttag(self, tag, attrs):
        self.start_tag = tag
        if tag == 'a':                      
            for name,value in attrs:
                if name == 'href':
                    self.urls.append(value)
    def getUrls(self):                   
        return self.urls
    
def webdir(url,depth,indent):
    if(depth==-1):
        return
    tabs = ""
    for x in range(indent):            
        tabs = tabs+"\t"
    print(tabs+url)
    
    urlParser = UrlParser()
    htmlRequest = requests.get(url)
    urlParser.feed(htmlRequest.text)
    urls = urlParser.getUrls()

    for _url in urls:
        if(not 'http' in _url):
            _url = url+_url
        webdir(_url,depth-1,indent+1)

In [146]:
webdir('http://reed.cs.depaul.edu/lperkovic/test1.html',2,0)

http://reed.cs.depaul.edu/lperkovic/test1.html
	http://reed.cs.depaul.edu/lperkovic/test2.html
		http://reed.cs.depaul.edu/lperkovic/test2.htmlmailto:lperkovic@cs.depaul.edu
		http://reed.cs.depaul.edu/lperkovic/test2.htmltest4.html
	http://reed.cs.depaul.edu/lperkovic/test1.htmltest3.html

Question 8:

In [148]:
import sqlite3
con = sqlite3.connect('FILE1.db')
cur = con.cursor()
cur.execute("CREATE TABLE City_Details (City text, Country text, Season text, Temperature real, Rainfall real)")
cur.execute("INSERT INTO City_Details VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai','India', 'Spring', 28.4, 16.2), ('Mumbai','India', 'Summer', 27.9, 1549.4), ('Mumbai','India', 'Fall', 27.6, 346.0)")
cur.execute("INSERT INTO City_Details VALUES ('London', 'United Kindom', 'Winter', 4.2, 207.7), ('London', 'United Kindom', 'Spring', 8.3, 169.6), ('London', 'United Kindom', 'Summer', 15.7, 157.0), ('London', 'United Kindom', 'Fall', 10.4, 218.5)")
cur.execute("INSERT INTO City_Details VALUES ('Cairo', 'Egypt', 'Winter', 13.6, 16.5), ('Cairo', 'Egypt', 'Spring', 20.7, 6.5), ('Cairo', 'Egypt', 'Summer', 27.7, 0.1), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)")
cur.execute('SELECT * FROM City_Details')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kindom', 'Winter', 4.2, 207.7),
 ('London', 'United Kindom', 'Spring', 8.3, 169.6),
 ('London', 'United Kindom', 'Summer', 15.7, 157.0),
 ('London', 'United Kindom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [149]:
#SQL Answer: A
cur.execute("SELECT Temperature FROM City_Details")
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [150]:
#SQL Answer: B
cur.execute("SELECT DISTINCT city FROM City_Details")
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

In [151]:
#SQL Answer: C
cur.execute("SELECT * FROM City_Details WHERE country = 'India'")
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [152]:
#SQL Answer: D
cur.execute("SELECT * FROM City_Details where Season = 'Fall'")
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kindom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [153]:
#SQL Answer: E
cur.execute("SELECT City, Country, Season FROM City_Details WHERE Rainfall BETWEEN 200 AND 400")
cur.fetchall()

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kindom', 'Winter'),
 ('London', 'United Kindom', 'Fall')]

In [154]:
#SQL Answer: F
cur.execute("SELECT city, country FROM City_Details WHERE season = 'Fall' AND temperature > 20 ORDER BY temperature ASC")
cur.fetchall()

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [155]:
#SQL Answer: G
cur.execute("SELECT SUM(rainfall) AS Total FROM City_Details WHERE city = 'Cairo'")
cur.fetchall()

[(27.6,)]

In [156]:
#SQL Answer: H
cur.execute("SELECT Season, Round(Sum(Rainfall),2) FROM City_Details GROUP BY Season")
cur.fetchall()

[('Fall', 569.0), ('Spring', 192.3), ('Summer', 1706.5), ('Winter', 230.1)]

Question 9

In [157]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

# Here I have precisly used loop to check each words as asked in the question.

In [158]:
#Answer A)
for i in range(len(words)):
    words[i] = words[i].upper()          
print(words)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [159]:
#Answer B)

for i in range(len(words)):
    words[i] = words[i].lower()          
print(words)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [160]:
#Answer C)

letterCount = [len(i) for i in words]          
print(letterCount)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [161]:
#Answer D)

wordsList = [(word.upper(), word.lower(),len(word)) for word in words]
print (wordsList)

[('THE', 'the', 3), ('QUICK', 'quick', 5), ('BROWN', 'brown', 5), ('FOX', 'fox', 3), ('JUMPS', 'jumps', 5), ('OVER', 'over', 4), ('THE', 'the', 3), ('LAZY', 'lazy', 4), ('DOG', 'dog', 3)]

In [162]:
#Answer E)

listWords = [i for i in words if len(i) >= 4]       
print(listWords)

['quick', 'brown', 'jumps', 'over', 'lazy']